
html,body,span,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea{
  margin: 0;
  padding: 0;
  border: 0;
  font:inherit;
  font-size: 100%;
  vertical-align: baseline;
}


body{
  line-height: 1;
  color: black;
  background: white;

}
a{color: inherit;
tex-decoration:none;
}
ol,ul{
  list-style: none ;

}
blockquote,q{
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,q:after{
  content: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
textarea:focus,input:focus {
                       outline: 0;
                     }
 input{
   border-width: 0;
 }
 em{
   font-style: italic;
 }
h1,h2,h3,h4,h5,h6{
  font-weight: bold ;
  margin-top: 0;
  margin-bottom: 0;

}
.group:before,
.group:after{
  content: "";
  display: table;
}
.group:after{
  clear:both;
}
group{
  zoom:1;/*ie 6/7 */
}
embed,
img,
objectvideo{
  max-width: 100%;
}
sup{
  font-size: 58.3%;
  vertical-aling:text-top;
}
sub{
  font-size: 58.3%;
  vertical-align: text-bottom;

}
no-space-between-inline-blocks{
  *leter-spacing:normal;
  letter-spacing: -0.31em;
  word-spacing: 0.43em;
}
.no-space-between-inline-blocks>*{
  letter-spacing:normal;
  word-spacing:normal;
}
.displace{
  left:-5000px;
  position:absolute;
}
html{
  -webcin-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
*:after,
*:before{
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
  box-sizing: inherit;
}
html{
  font-size: 16px;
}
body{
  min-width: 1260px;
  color: #302927;
  font-family: Roboto, sans-serif;
  font-size:0.875rem;
  font-style:normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_{
  float: none;
  height:auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: #f4f3f2 center 0;
  background-position: center top;
  -webkit-bacraund-zize:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.header{
 padding: 25px 0 19px;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: inset 0 -4px 0 0 #014326, 0 5px 5px 0 rgba(0,0,0,0.05);
  -moz-box-shadow:  inset 0 -4px 0 0 #014326, 0 5px 5px 0 rgba(0,0,0,0.05);
  box-shadow: inset 0 -4px 0 0 #014326, 0 5px 5px 0 rgba(0,0,0,0.05);
}
.l-constrained-2{
  margin: 0 auto;
  position: relative;
  width: 1260px;

}
.logo_pralis{
  float: left;

}
.forma-1-copy-5{
  float: right;
  margin: 20px 4px 0 0;

}
.forma-1-2{
  float:right;
  margin: 18px 58px 0 0;
}
.phone{
  float: right;
  margin: 19px 56px 0 0;
  position: relative;
  width: 163px;

}

.forma-1{
  float: left;
  margin: 0 8px 0 0;

}
.text{
  margin: 4px 0 0;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}
.col-8{
  float: right;
  margin: 25px 121px 0 0;
  position: relative;
  width: 439px;
}

.nav{
  position: relative;
  width: 439px;
}
.nav-list{
  position: relative;
  list-style: none;
}
.nav-list li{
 float: left;
  margin: 0 62.5px 0 0;

}
.nav-list li:last-child{
  margin-right: 0;
}
.nav-item-1{
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size .3s;
  color: black;
}
.nav-item-1-2{
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size .3s;
  color: black;
}
.nav-item-1-3{
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-transform: uppercase;
   font-weight: bold;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;
    color: black;


}
.nav-item-1:hover{
   color: black;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size .3s;
   background-size: 100% 4px;

 }
.nav-item-1-2:hover{
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  background-size: 100% 4px;

}
.nav-item-1-3:hover{
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  background-size: 100% 4px;

}

.main-content-wrapper{
  margin: 9px 0 0;
  position: relative;

}
.clickpath-copy-2{
  margin: 0 auto;
  position: relative;
  width: 1260px;

}
.home-icon{
  float:left;
}
.copy{
  float: left;
  margin: 9px 0 0 29px;
}
.wrapper-4{
  float: left;
  height: 13px;
  margin: 6px 0 0 37px;
  position: relative;
  width: 255px;
}

.text-2{
  left: 50%;
  position: absolute;
  top: 0;
  color: #749383;
  font-size: 0.75rem;
  margin-left: -127.5px;

}
.layer{
  left: 50%;
  position:absolute;
  top:3px;
  margin-left: -46.5px;
}
.main-title{
  margin: 9px auto 0;
  padding:  191px 0 45px;
  position: relative;
  width: 100%;
  background: url("../img/Layer 72.png") no-repeat center 0;
  background-position: center top;
  -webkin-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-3{
  margin: 0 auto;
  position: relative;
  width: 1260px;
}
.text-3{
  color:#f2f4f5;
  font-family: Lora, serif;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2.5px 4.330127px 16px rgba(0, 0, 0, 0.3);

}
.text-4{
  margin: 66px auto 0;
  width: 744px;
  color: #f2f4f5;
  font-family: Lora, serif;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
}
.row-4{
  margin: 193px auto 0;
  position: relative;
  width: 136px;

}
.ellipse-1-copy-2{
  float: left;
  margin: 0 32px 0 0;

}
.text-5{
  margin: 9px 0 0;
  color: #f2f4f5;
  font-family: "PT Sans",sans-serif;
  font-size: 1.125rem;
  text-align: left;
}
.l-unconstrained{
  margin: 19px 0 0;
  position: relative;
}
.l-constrained{
  margin: 0 auto;
  position: relative;
  width: 1260px;
}
.zagolovok{
  position: relative;
}
.text-6{
  font-family: Lora, serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.group-2{
  margin: 10px 0 0;
  position: relative;

}
.text-7{
  float: left;
  margin: 1px 11px 0 0;
  width: 71px;
  color: #4b8466;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 24px;
}
.text-8{
  float: left;
  width: 536px;
  font-size: 0.75rem;
  line-height:24px;
}
.row-7{
  margin: 24px 0 0;
  position: relative;
  width: 1260px;
}
.col-7{
  float: left;
  margin: 1px 0 0;
  position: relative;
  width: 620px;

}
.gallery{
  position: relative;
}
.img{
  height: 213px;
  padding: 178px 0 144px;
  position: relative;
  background: url("../img/galeri 1.png") no-repeat;

}
.rounded-rectangle-1-holder{
  left: 10px;
  margin: 0 auto;
  padding: 11px 0 10px;
  position: relative;
  width: 56px;
  border: 1px solid rgba(255,255,255,0.33);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(48,41,39,0.25);
  -moz-background-clip:padding ;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.shape-2-copy-2{
  display: block;
  margin: 0 auto;

}
.ie-hand{
  display: block;
  left: 4.5px;
  margin: 13px auto 0;
  position:relative ;
}
.thumbs{
  margin: 11px 0 0 ;
  position: relative;
  width: 615px;

}
.group-10{
  float: left;
  height: 67px;
  padding: 23px 0 20px;
  position: relative;
  width: 100px;
  background: url("");
  background: -moz-linear-gradient(0deg,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;
  background: -o-linear-gradient(0deg,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;
  background: -webkit-linear-gradient(0deg,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;
  background: -webkit-gradient(linear,left top,right top, color-stop(0, rgba(242,244,245,0.7)), to(rgba(242,244,245,0.7))),url("../img/galeri6.png") no-repeat;
  background: -webkit-linear-gradient(left,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;;
background: -moz-linear-gradient(left,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;;
background: -o-linear-gradient(left,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;;
background: linear-gradient(90deg,rgba(241,244,245,0.7)0,rgba(242,244,245,0.7) 100%), url("../img/galeri6.png") no-repeat;;

}

.shape-1{
  display: block;
  margin: 0 auto;

}

.rectangle-10-copy{
  float: left;
  width: 100px;

}
.rectangle-10-copy-4{
   float: left;
   width: 100px;

 }
.rectangle-10-copy-4-2{
    float: left;
    width: 100px;

  }
.rectangle-10-copy-4-3{
     float: left;
     width: 100px;

   }
.rectangle-10-copy-4-4{
  float: left;
  width: 100px;

}
.more{
  float: right;
  margin: 26px 0 0;

}
.samples{
  margin: 44px 0 0;
  position: relative;
  color: red;
}
.text-9{
  color: #cd7f2e;
  font-family: Lora, serif;
  font-size: 1.3125rem;
  font-weight: bold;

}
.row-6{
  margin: 17px 0 0;
  position: relative;

}
.thumbs-2{
  float:left;
  margin: 0 12px 0 0;
  position: relative;
  width: 600px;

}
.thumbs-2>*{
  float: left;

}
.thumbs-2>*:last-child{
  margin-right: 0 !important;

}
.rectangle-12{
  width: 150px;

}
.rectangle-12-copy{
  width: 150px;
}
.rectangle-12-copy-2{
  width: 150px;
}
.rectangle-12-copy-2-2{
   width: 150px;
 }
.more-copy{
  float: left;
  margin: 47px 0 0;
}
.opis{
  margin: 32px 0 0;
  position: relative;
}
.opis-2{
  color: #cd7f2e;
  font-family: Lora, serif;
  font-size: 1.3125rem;
  font-weight: bold;

}
.rectangle-21-copy-3{
  height: 4px;
  margin: 16px 0 0;
  position: relative;
  width: 620px;
  background: #004225;

}
.text-10{
  margin: 24px 0 0 1px;
  width: 619px;
  line-height: 24px;
  text-align: justify;

}
.col-10{
  float: right;
  position: relative;
  width: 621px;

}
.group-3{
  position: relative;
}

.text-11{
  float: left;
  color: #4b8466;
  font-weight: bold;
  padding: 0 75px 0 0;
}
shape-1-copy-3{
  float: left;
  margin: 1px 0 0 55px;
}
.dostupno{
  float: left;
  margin: 2px 0 0 10px;

}
.detalno-po{
  float: left;
  margin: 3px 0 0 86px;
}
.kod{
  margin: 12px 0 0;
  position: relative;

}

.text-12{
  float: left;
  margin: 0 122px 0 0;
  width: 104px;
  color: #4b8466;
  font-weight: bold;
}
.wwa000112{
  float: left;
  width: 91px;
}
.text-style-3{
  font-size: 50px;
  color:  black;
}
.row-9{
  margin: 22px 0 0 1px;
  position: relative;
  width: 620px;

}
.calc-button{
  float: left;
  margin: 19px 0 0;

}
.text-13{
  float: right;
  color: #4b8466;
  font-family: Lora, serif;
  font-weight: bold;
  line-height: 24px;
  text-align: right;

}
.row-10{
  margin: 20px 0 0 1px;
  position: relative;
}
.group-4{

  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px;
  width: 160px;
  background: #004225;
  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
  -moz-box-shadow: inset 0 -3px 0 0 #ff561b;
  box-shadow: inset 0 -3px 0 0 #ff561b;
  background: #302927;

}







.lol{

  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
  -moz-box-shadow: inset 0 -3px 0 0 #ff561b;
  box-shadow: inset 0 -3px 0 0 #ff561b;

}
.lol1{
  width: 280px;
  top: 10px;
}
.lol2{
  width: 196px;
  padding: -60px;
  background: white;
}
.lol3{
  background: red;
}




















.text-14{
  margin: 0 22px;
  line-height: 44px;

}
.rectangle-23-copy-holder{

  width: 196px;
  background: white;
  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
  -moz-box-shadow:inset 0 -3px 0 0 #ff561b ;
  box-shadow: inset 0 -3px 0 0 #ff561b;
  margin-left: 24.5px;
  background: red;

}
.forma-1-copy-2{
  float: left;
  margin: 0 10px 0 0;

}
.text-15{
  margin: 3px 0 0;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}
.buy{

  width: 160px;
  background: #004225;
  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
-moz-box-shadow: inset 0 -3px 0 0 #ff561b;
  box-shadow: inset 0 -3px 0 0 #ff561b;
}
.shape-1-copy{
  float: left;
  margin: 0 19px 0 0;

}
.zamoviti{
  margin: 5px 0 0;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

}
.harakteristiki{
  margin: 37px 0 0 1px;
  position: relative;
  width: 620px;
  z-index: 0;
}
.group-5{
  overflow: hidden;
  position: relative;
  z-index: 115;
}
.harakteristiki-2{
  color: #cd7f2e;
  font-family: Lora, serif;
  font-size: 1.3125rem;
  font-weight: bold;
}
.wrapper-6{
  height: 4px;
  margin: 15px 0 0;
  position: relative;
  width: 620px;
}
.layer-3{
  height: 1px;
  left: 50%;
  position: absolute;
  top: 3px;
  width: 620px;
  background: #dbdbdb;
  margin-left: -310px;
}
.active-cursor{
  height: 4px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 620px;
  background: #004225;
  margin-left: -310px;

}
.row-2{
  margin: -1px 0 0;
  min-height: 956px;
  overflow: hidden;
  position: relative;
  z-index: 95;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

}
.rectangle-25-copy-holder{
  float: left;
  margin: -1px 9px 0 0;
  min-height: 256px;
  padding: 8px 7px 230px;
  width: 187px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #4b8466;
  font-weight: bold;

}
.text-17{
  float: right;
  margin: 5px 0 0;
  width: 405px;
  line-height: 24px;
}
.wrapper-5{
  height: 481px;
  margin: -690px 0 0;
  position: relative;
  width: 640px;
  z-index: 97;


}
.rectangle-25-copy-2{
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -310px;

}
.rectangle-25-copy-3{
  left: 50%;
  position: absolute;
  top: 36px;
  margin-left: -310px;

}
.rectangle-25-copy-4{
  left: 50%;
  position: absolute;
  top: 72px;
  margin-left: -310px;

}
.rectangle-25-copy-4-2{
  left: 50%;
  position: absolute;
  top: 108px;
  margin-left: -310px;

}
.rectangle-25-copy-5{
  left: 50%;
  position: absolute;
  top: 144px;
  margin-left: -310px;

}
.rectangle-25-copy-5-2{
  left: 50%;
  position: absolute;
  top: 180px;
  margin-left: -310px;

}
.rectangle-25-copy-5-3{
  left: 50%;
  position: absolute;
  top: 216px;
  margin-left: -310px;

}
.rectangle-25-copy-5-4{
  left: 50%;
  position: absolute;
  top: 252px;
  margin-left: -310px;

}
.rectangle-25-copy-6{
  left: 50%;
  position: absolute;
  top: 348px;
  margin-left: -310px;

}
.rectangle-25-copy-6-2{
  left: 50%;
  position: absolute;
  top: 384px;
  margin-left: -310px;

}
.layer-4{
  left: 50%;
  position: absolute;
  top: 288px;
  margin-left: -310px;
}
.layer-5{
  left: 50%;
  position: absolute;
  top: 420px;
  margin-left: -310px;

}
.text-18{
  left: 50%;
  position: absolute;
  top: 0;
  width: 414px;
  margin-left: -108px;
}
.text-19{
  left: 50%;
  position: absolute;
  top: 0;
 color: #4b8466;
  font-weight: bold;
  line-height: 36px;
  margin-left: -302px;
}
.group-6{
  margin: 27px 0 0;
  position: relative;
}
.text-21{
  margin: 0 393px 25px 0;
  color: #cd7f2e;
  font-family: Lora, serif;
  font-size: 1.3125rem;
  font-weight: bold;

}
.africa {
  float: left;
  margin: 5px 44px 0 2px;
}
.text-20{
  line-height: 24px;

}
.shareblok{
  display: block;
  margin: 34px 0 0 4px;
  position: relative;
}
.footer{
  margin:1569px 0 0;
  position: relative;
}
.footer-2{
  position: relative;

}
.logo_pralis-copy{
  display: block;
  margin: 0 auto;
  position: relative;
  right: 513.5px;

}
.bgrnd-holder{
  height: 272px;
  margin: 8px 0 0;
  position: relative;
  width: 100%;
  background: url("../img/footer.png");
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.vector-smart-object{
  left: 50%;
  position: absolute;
  top: 29px;
  margin-left: 506px;
}
.row{
  left: 0;
  padding: 8px 0 11px;
  position: absolute;
  top: 239px;
  width: 100%;
  background: #302927;
}
.l-constrained-5{
  margin: 0 auto;
  position: relative;
  width: 1260px;

}
.text-22{
  float: left;
  margin: 1px 0 0;
  width: 145px;
  color: #a5b8ae;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
}
.text-23 {
  float: right;
  margin: 0 3px 0 0;
  width: 310px;
  color: #a5b8ae;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
}
.l-constrained-4{
  left: 50%;
  position: absolute;
  top: 23px;
  width: 1260px;
  margin-left: -630px;
}
.col-13{
  float: left;
  margin: 0 112px 0 0;
  position: relative;
  width: 286px;
}
.group-2-2{
  position: relative;
}
.col-6{
  float: left;
  margin: 7px 18px 0 0;
  position: relative;
  width: 16px;

}
.forma-1-3{
  display: block;

}
.shape-1-2{
  display: block;
  margin: 16px 0 0;

}
.forma-1-4{
  display: block;
  margin: 18px auto 0;
}
.text-24{
  float: left;
  width: 252px;
  color: #ffffff;
  line-height: 36px;

}
.vector-smart-object-copy-4{
  display: block;
  margin: 32px 0 0;
  position: relative;
}
.menu{
  float: left;
  margin: 5px 0 0;
  position: relative;
  width: 604px;

}
.text-25{
  float:left;
  width: 146px;
  color: #a5b8ae;
  line-height: 30px;


}

.text-26{
  float: left;
  margin: 0 0 0 87px;
  width: 146px;
  color: #a5b8ae;
  line-height: 30px;
}
.text-27{
  float: left;
  margin: 0 0 0 79px;
  width: 146px;
  color: #a5b8ae;
  line-height: 30px;
}
.rectangle-27-copy-2{
  height: 2px;
  left: 0;
  max-width: 1920px;
  position: absolute;
  top: 237px;
  width: 100%;
  background: #4b8466;
}
.text-style{
  line-height: 24px;
}
.text-style-4{
  line-height: 36px;
}

#type_tnumb{
  width: 240px;
  height: 40px;
  float: left;

  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #4b8466;
  font-weight: bold;
}
#call-back_btn{
  width: 196px;
  height: 40px;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px;
  width: 160px;
  background: #004225;
  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
  -moz-box-shadow: inset 0 -3px 0 0 #ff561b;
  box-shadow: inset 0 -3px 0 0 #ff561b;
  color: white;

}
#order{
  top: 20px;
  float: right;
  width: 160px;

  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px;
  width: 160px;
  background: #004225;
  -webkit-box-shadow: inset 0 -3px 0 0 #ff561b;
  -moz-box-shadow: inset 0 -3px 0 0 #ff561b;
  box-shadow: inset 0 -3px 0 0 #ff561b;
color: white;
}

